__pycache__/
/Theory
*workspace
*PAGINASPENDIENTESLEER.txt
Reunion.md
.Rproj.user
renv/library/
.RHistory
/Thesis_Document
/Walkthrough
[0-9][0-9][0-9]/
/mlruns
mlflow.db
/data
/experiments/logs
*claude*