<?xml version="1.0" encoding="UTF-8"?>

<!-- generated on 2026-06-28 15:51:08.139075 by Eclipse SUMO randomTrips.py v1_26_0+0000-fa7df22d7f1
<configuration>
    <net-file value="/home/miguel/6.Projects/Thesis/sumo/net/Koh/1st.net.xml"/>
    <output-trip-file value="/home/miguel/6.Projects/Thesis/sumo/demand_calibration/trips.xml"/>
    <route-file value="/home/miguel/6.Projects/Thesis/sumo/demand_calibration/routes.xml"/>
    <fringe-factor value="50"/>
    <min-distance value="100.0"/>
    <end value="42.0"/>
    <period value="0.42"/>
</configuration>
-->

<!-- generated on 2026-06-28T15:51:08.130260+01:00 by Eclipse SUMO duarouter 1.26.0
<duarouterConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/duarouterConfiguration.xsd">

    <input>
        <net-file value="/home/miguel/6.Projects/Thesis/sumo/net/Koh/1st.net.xml"/>
        <route-files value="/home/miguel/6.Projects/Thesis/sumo/demand_calibration/trips.xml"/>
    </input>

    <output>
        <output-file value="/home/miguel/6.Projects/Thesis/sumo/demand_calibration/routes.xml"/>
        <alternatives-output value="NUL"/>
    </output>

    <time>
        <begin value="0.0"/>
        <end value="42.0"/>
    </time>

    <report>
        <no-warnings value="true"/>
        <ignore-errors value="true"/>
        <no-step-log value="true"/>
    </report>

</duarouterConfiguration>
-->

<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/routes_file.xsd">
    <vehicle id="0" depart="0.00">
        <route edges="E3_4_WB E2_3_WB E2_5_NB"/>
    </vehicle>
    <vehicle id="1" depart="0.42">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="2" depart="0.84">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="3" depart="1.26">
        <route edges="E1_2_EB E2_3_EB E3_5_NWB E2_5_SB"/>
    </vehicle>
    <vehicle id="4" depart="1.68">
        <route edges="E1_2_EB E2_5_NB E3_5_SEB"/>
    </vehicle>
    <vehicle id="5" depart="2.10">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="6" depart="2.52">
        <route edges="E3_4_WB E3_6_NWB E5_6_SWB"/>
    </vehicle>
    <vehicle id="7" depart="2.94">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="8" depart="3.36">
        <route edges="E3_4_WB E3_5_NWB E2_5_SB E2_3_EB"/>
    </vehicle>
    <vehicle id="9" depart="3.78">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="10" depart="4.20">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="11" depart="4.62">
        <route edges="E3_5_SEB E3_4_EB"/>
    </vehicle>
    <vehicle id="12" depart="5.04">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="13" depart="5.46">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="14" depart="5.88">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="15" depart="6.30">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="16" depart="6.72">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="17" depart="7.14">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="18" depart="7.56">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="19" depart="7.98">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="20" depart="8.40">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="21" depart="8.82">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="22" depart="9.24">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="23" depart="9.66">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="24" depart="10.08">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="25" depart="10.50">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="26" depart="10.92">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="27" depart="11.34">
        <route edges="E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="28" depart="11.76">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="29" depart="12.18">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="30" depart="12.60">
        <route edges="E1_2_EB E2_3_EB E3_5_NWB E2_5_SB"/>
    </vehicle>
    <vehicle id="31" depart="13.02">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="32" depart="13.44">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="33" depart="13.86">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="34" depart="14.28">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="35" depart="14.70">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="36" depart="15.12">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="37" depart="15.54">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="38" depart="15.96">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="39" depart="16.38">
        <route edges="E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="40" depart="16.80">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="41" depart="17.22">
        <route edges="E3_4_WB E3_6_NWB E5_6_SWB"/>
    </vehicle>
    <vehicle id="42" depart="17.64">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="43" depart="18.06">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="44" depart="18.48">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="45" depart="18.90">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="46" depart="19.32">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="47" depart="19.74">
        <route edges="E3_4_WB E3_6_NWB E5_6_SWB"/>
    </vehicle>
    <vehicle id="48" depart="20.16">
        <route edges="E3_4_WB E3_5_NWB E5_6_NEB"/>
    </vehicle>
    <vehicle id="49" depart="20.58">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="50" depart="21.00">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="51" depart="21.42">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="52" depart="21.84">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="53" depart="22.26">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="54" depart="22.68">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="55" depart="23.10">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="56" depart="23.52">
        <route edges="E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="57" depart="23.94">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="58" depart="24.36">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="59" depart="24.78">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="60" depart="25.20">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="61" depart="25.62">
        <route edges="E5_6_SWB E3_5_SEB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="62" depart="26.04">
        <route edges="E1_2_EB E2_3_EB E3_6_NWB"/>
    </vehicle>
    <vehicle id="63" depart="26.46">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="64" depart="26.88">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="65" depart="27.30">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="66" depart="27.72">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="67" depart="28.14">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="68" depart="28.56">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="69" depart="28.98">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="70" depart="29.40">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="71" depart="29.82">
        <route edges="E2_3_WB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="72" depart="30.24">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="73" depart="30.66">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="74" depart="31.08">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="75" depart="31.50">
        <route edges="E5_6_NEB E3_6_SEB E3_4_EB"/>
    </vehicle>
    <vehicle id="76" depart="31.92">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="77" depart="32.34">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="78" depart="32.76">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="79" depart="33.18">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="80" depart="33.60">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="81" depart="34.02">
        <route edges="E5_6_SWB E3_5_SEB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="82" depart="34.44">
        <route edges="E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="83" depart="34.86">
        <route edges="E2_5_SB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="84" depart="35.28">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="85" depart="35.70">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="86" depart="36.12">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="87" depart="36.54">
        <route edges="E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="88" depart="36.96">
        <route edges="E3_5_SEB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="89" depart="37.38">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="90" depart="37.80">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="91" depart="38.22">
        <route edges="E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="92" depart="38.64">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="93" depart="39.06">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="94" depart="39.48">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="95" depart="39.90">
        <route edges="E1_2_EB E2_5_NB E5_6_NEB E6_7_EB"/>
    </vehicle>
    <vehicle id="96" depart="40.32">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="97" depart="40.74">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
    <vehicle id="98" depart="41.16">
        <route edges="E1_2_EB E2_3_EB E3_4_EB"/>
    </vehicle>
    <vehicle id="99" depart="41.58">
        <route edges="E3_4_WB E3_6_NWB E6_7_EB"/>
    </vehicle>
</routes>
